@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff4dd;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
  color: #232023;
}

.font-jua {
  font-family: "Jua", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Custom scrollbar styling */
.cart-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.cart-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  margin: 4px 0;
}

.cart-scrollbar::-webkit-scrollbar-thumb {
  background: #ffd1dc;
  border-radius: 10px;
  border: 1px solid black;
}

.cart-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fe6e94;
}

@layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .animate-spin-slow {
    animation: spin-slow 18s linear infinite;
  }
}
